.el-select {
  input[type="text"] {
    width: 100%;
    margin: 0;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    line-height: 32px;
    height: 32px;
  }
  input[type="text"]:hover {
    border-color: #c0c4cc;
  }
  input[type="text"]:focus {
    border-color: #008ec2;
  }

  .el-input{
    .el-input {
      &__suffix-inner {
        display: flex;
        align-items: center;
        height: 100%;
      }

      &__icon{
        line-height: unset;
      }
    }
  }
}







