.colibri- {
  &fullwidth {
    width: 100%;
  }
}


.el-select {
  width: 100%;
}


.el-button {
  &.el-button-- {
    &default {
      border-color: #bebebe;
    }
  }

}


.el-select .el-input input {
  background: #ffffff;
}







